---
import './carrusel.css';

const personas = [
  { src: 'assets/UserEj.png', alt: 'Candela' },
  { src: 'assets/UserEj.png', alt: 'Magalí' },
  { src: 'assets/UserEj.png', alt: 'Amparo' },
  { src: 'assets/UserEj.png', alt: 'Gustavo' },
  { src: 'assets/UserEj.png', alt: 'Hanna' },
  { src: 'assets/UserEj.png', alt: 'Jose Pablo' },
  { src: 'assets/UserEj.png', alt: 'Leandro' },
  { src: 'assets/UserEj.png', alt: 'Magali' },
  { src: 'assets/UserEj.png', alt: 'Matina' },
  { src: 'assets/UserEj.png', alt: 'Tatiana' },
  { src: 'assets/UserEj.png', alt: 'Victoria' },
  { src: 'assets/UserEj.png', alt: 'Lara' },
  { src: 'assets/UserEj.png', alt: 'Lautaro' },
];
---

<div class="carrusel contenedor">
  <div class="contenedor-titulo-controles">
    <h3>Team</h3>
    <div class="indicadores"></div>
  </div>
  <div class="contenedor-principal">
    <button role="button" id="flecha-izquierda" class="flecha-izquierda">
      <i class="fas fa-angle-left"></i>
    </button>
    <div class="contenedor-carousel">
      <div class="carousel" id="carousel">
        {personas.map((persona) => (
          <div class="miembro">
            <a href="#"><img src={`/${persona.src}`} alt={persona.alt} /></a>
          </div>
        ))}
      </div>
    </div>
    <button role="button" id="flecha-derecha" class="flecha-derecha">
      <i