<footer class="bg-[#f3f3f3] py-[16px]">
    <div class="flex justify-center items-center gap-[22px]">
        <ul
            class="flex flex-col gap-[16px] text-[16px] leading-[16px] font-normal font-menu text-[var(--color-texto)]"
        >
            <li><a href="#acerca">Acerca de LACCEI</a></li>
            <li><a href="#novedades">Novedades</a></li>
            <li><a href="#contacto">Contacto</a></li>
            <li><a href="#instagram">Síguenos en Instagram</a></li>
        </ul>
        <img src="/LACCEILogo.png" alt="Logo" class="h-[142px] w-auto" />
    </div>
</footer>
